.header_container{
  height:75px;
  background-color:black;
  width:100%;


    .container{
      @include center(65%);
    }

    .logo{
      @include dim(15%,75px);

        img{
          @include dim(75px,75px);
        }
    }
}
