.header_container{

background-color:black;
@include dim(100%,$header_height);


  .container{
    @include center(65%);

    &:after{
      @include after;
    }

    .logo{
      @include dim(15%,75px);
      float:left;

      img{
        @include dim(75px,75px);
      }
    }

    .input_container{
      float:right;
      width:50%;
      line-height:$header_height;

      select{
        width:50%;
        height:25px;
      }
      button{
        padding: 5px 10px;
      }
    }
  }
}
