@mixin reset {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

@mixin after{
  display:table;
  content:'';
  clear:both;
}

@mixin dim ($width,$height) {
  width:$width;
  height:$height;
}

@mixin center($width){
  width:$width;
  margin:0 auto;
}
