* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_container {
  height: 75px;
  background-color: black;
  width: 65%;
  margin: 0 auto;
}

.card_container {
  width: 65%;
  margin: 20px auto;
}

.card_container:after {
  display: table;
  clear: both;
}

.card {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  background-color: #cecece;
  border-radius: 5px;
  padding: 10px;
  float: left;
  margin: 20px 20px 0 0;
}

.card .img_container {
  width: 95%;
  margin: 0 auto;
}

.card .img_container img {
  width: 100%;
  height: 150px;
}

.card .card ul li {
  color: black;
  list-style-type: none;
}

